<div class="container d-flex justify-content-center">
  <div class="text-center text-secondary mt-5">
    <fa-icon [icon]="faExclamationCircle" size="3x"></fa-icon>
    <h1 class="mt-3">404</h1>
    La page que vous recherchez n'existe pas !
  </div>
</div>
