  <div class="modal-header">
    <h4 class="modal-title">{{ titre }}</h4>
    <button type="button" class="btn-close" aria-label="Fermer" (click)="activeModal.dismiss()"></button>
  </div>
  <div class="modal-body">

    <!-- MESSAGE D'ERREUR -->
    <div *ngIf="!estValide" class="alert alert-danger alert-dismissible fade show" role="alert">
      Impossible d'envoyer le formulaire !<br/> Vérifiez les valeurs saisies.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
    </div>

    <form [formGroup]="form" (ngSubmit)="save()">

      <div class="form-floating mb-3">
        <input formControlName="libelle" type="text" id="libelle" class="form-control" [ngClass]="{'is-invalid': !form.controls.libelle.valid}">
        <label for="libelle">Libellé</label>
      </div>

      <div class="form-floating mb-3">
        <input formControlName="ean" type="text" aria-describedby="eanHelp" id="ean" class="form-control" [ngClass]="{'is-invalid': !form.controls.ean.valid}">
        <label for="ean" class="form-label">EAN</label>
        <div id="eanHelp" class="form-text text-info"><fa-icon [icon]="faInfoCircle" class="me-2"></fa-icon>Un EAN est composé de 12 chiffres.</div>
      </div>

      <div class="form-floating mb-3">
        <select formControlName="idNomenclature" id="nomenclature" class="form-select" aria-label="Sélection d'une nomenclature" [ngClass]="{'is-invalid': !form.controls.idNomenclature.valid}">
          <option [ngValue]="-1" disabled>Sélectionnez une Nomenclature</option>
          <option *ngFor="let nmc of lstNomenclature" [ngValue]="nmc.id">{{nmc.libelle}}</option>
        </select>
        <label for="nomenclature" class="form-label">Nomenclature</label>
      </div>

      <div class="form-floating mb-3">
        <input formControlName="marque" type="text" id="marque" class="form-control" [ngClass]="{'is-invalid': !form.controls.marque.valid}">
        <label for="marque" class="form-label">Marque</label>
      </div>

      <div class="form-floating mb-3">
        <input formControlName="fournisseur" type="text" id="fournisseur" class="form-control" [ngClass]="{'is-invalid': !form.controls.fournisseur.valid}">
        <label for="fournisseur" class="form-label">Fournisseur</label>
      </div>

      <div class="form-floating mb-3">
        <select formControlName="idTva" id="tva" class="form-select" aria-label="Sélection d'une TVA" [ngClass]="{'is-invalid': !form.controls.idTva.valid}">
          <option [ngValue]="-1" disabled>Sélectionnez une TVA</option>
          <option *ngFor="let tva of lstTva" [ngValue]="tva.id">{{tva.libelle}}</option>
        </select>
        <label for="tva" class="form-label">TVA</label>
      </div>

      <div class="form-floating mb-3">
        <input type="number" formControlName="stock" id="stock" class="form-control" [ngClass]="{'is-invalid': !form.controls.stock.valid}">
        <label for="stock" class="form-label">Stock</label>
      </div>

      <div class="form-floating mb-3">
        <input type="number" formControlName="prix" id="prix" class="form-control" [ngClass]="{'is-invalid': !form.controls.prix.valid}">
        <label for="prix" class="form-label">Prix</label>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="activeModal.dismiss()"><fa-icon [icon]="faUndo" class="me-2"></fa-icon>Annuler</button>
    <button type="submit" class="btn btn-success" (click)="save()"><fa-icon [icon]="faSave" class="me-2"></fa-icon>Sauvegarder</button>
  </div>
