<nav class="navbar navbar-expand-lg navbar-dark bg-clear-blue">
  <div class="container-fluid">
    <a class="navbar-brand text-dark-blue" routerLink="/"><fa-icon [icon]="faClipboardList" size="lg" class="me-2"></fa-icon>MesProduits</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Ouvrir/fermer le menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/accueil" routerLinkActive="active">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/produits" routerLinkActive="active">Produits</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
