<div class="modal-header">
  <h4 class="modal-title">Confirmation</h4>
  <button type="button" class="btn-close" aria-label="Fermer" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  {{text}}
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="activeModal.dismiss()"><fa-icon [icon]="faBan" class="me-2"></fa-icon>Non</button>
  <button type="button" class="btn btn-success" (click)="confirm()"><fa-icon [icon]="faCheckCircle" class="me-2"></fa-icon>Oui</button>
</div>
