<div class="container">

  <!-- ENTETE -->
  <div class="d-flex align-items-center my-3">
    <h1 class="flex-grow-1">Liste des produits</h1>
    <div>
      <button class="btn btn-success" (click)="openModaleProduit(null, Mode.Creation)"><fa-icon class="me-2" [icon]="faPlusCircle"></fa-icon>Ajouter un produit</button>
    </div>
  </div>

  <!-- FILTRAGE DES PRODUITS -->
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel title="Critères de recherche">
      <ng-template ngbPanelContent>
        <form [formGroup]="form" (ngSubmit)="searchProduit()">
          <div class="input-group">
            <input formControlName="libelle" type="text" class="form-control" placeholder="Nom du produit" aria-label="Nom du produit" aria-describedby="buttonFind">
            <button class="btn btn-violet text-light" type="submit" id="buttonFind"><fa-icon class="me-2" [icon]="faSearch"></fa-icon>Rechercher</button>
          </div>
        </form>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

  <!-- LISTE PRODUITS -->
  <table class="table table-hover mt-3">
    <thead>
    <tr>
      <th scope="col">Libellé</th>
      <th scope="col">Nomenclature</th>
      <th scope="col">EAN</th>
      <th scope="col">Prix</th>
      <th scope="col">Stock</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let produit of lstProduits">
      <td>{{ produit.libelle }}</td>
      <td>{{ produit.nomenclature?.libelle}}</td>
      <td>{{ produit.ean}}</td>
      <td>{{ produit.prix | currency:"EUR"}}</td>
      <td>{{ produit.stock | number}}</td>
      <td>
        <button class="btn btn-primary me-1" (click)="openModaleVisuProduit(produit)" ngbTooltip="Voir le produit complet"><fa-icon [icon]="faSearch"></fa-icon></button>
        <button class="btn btn-secondary me-1" (click)="openModaleProduit(produit, Mode.Edition)" ngbTooltip="Modifier le produit"><fa-icon [icon]="faEdit"></fa-icon></button>
        <button class="btn btn-danger" (click)="openModaleConfirmDelete(produit)" ngbTooltip="Supprimer le produit"><fa-icon [icon]="faTimesCircle"></fa-icon></button>
      </td>
    </tr>
    <tr *ngIf="lstProduits.length == 0">
      <td colspan="6">Aucun produit n'est référencé !</td>
    </tr>
    </tbody>
  </table>
</div>
