@import "~bootstrap/scss/functions";

// Des couleurs supplémentaires
$dark-blue: #364F6B;
$clear-blue: #3FC1C9;
$clear-grey: #F5F5F5;
$violet: #FC5185;

// Override de la couleur de fond
$body-bg: $clear-grey;
$body-color: $dark-blue;

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Ajout des couleurs supplémentaires dans la theme map de Bootstrap
$custom-theme-colors: (
  "dark-blue": $dark-blue,
  "clear-blue": $clear-blue,
  "clear-grey": $clear-grey,
  "violet": $violet,
);

// Des lignes supplémentaires, nécessaires, depuis la version 5.1 de Bootstrap
$theme-colors: map-merge($theme-colors, $custom-theme-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

@import "~bootstrap/scss/bootstrap";

// Custom class
.visuProduitLabel {
  @extend .form-label, .text-clear-blue;
}
