<div class="modal-header">
  <h4 class="modal-title">Visualisation</h4>
  <button type="button" class="btn-close" aria-label="Fermer" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
   <div class="mb-3">
      <label for="libelle" class="visuProduitLabel">Libellé</label>
      <div id="libelle">{{produit?.libelle}}</div>
    </div>
    <div class="mb-3">
      <label for="ean" class="visuProduitLabel">EAN</label>
      <div id="ean">{{produit?.ean}}</div>
    </div>
    <div class="mb-3">
      <label for="nomenclature" class="visuProduitLabel">Nomenclature</label>
      <div id="nomenclature">{{produit?.nomenclature?.libelle}}</div>
    </div>
    <div class="mb-3">
      <label for="marque" class="visuProduitLabel">Marque</label>
      <div id="marque">{{produit?.marque}}</div>
    </div>
    <div class="mb-3">
      <label for="fournisseur" class="visuProduitLabel">Fournisseur</label>
      <div id="fournisseur">{{produit?.fournisseur}}</div>
    </div>
    <div class="mb-3">
      <label for="tva" class="visuProduitLabel">TVA</label>
      <div id="tva">{{produit?.tva?.libelle}}</div>
    </div>
    <div class="mb-3">
      <label for="stock" class="visuProduitLabel">Stock</label>
      <div id="stock">{{produit?.stock}}</div>
    </div>
    <div class="mb-3">
      <label for="prix" class="visuProduitLabel">Prix</label>
      <div id="prix">{{ produit?.prix | currency:"EUR"}}</div>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()"><fa-icon [icon]="faTimesCircle" class="me-2"></fa-icon>Fermer</button>
</div>
