<div class="container d-flex justify-content-center">
  <div class="text-center mt-5">
    <h1 class="mt-3">Bienvenue sur l'application MesProduits !</h1>
    <div class="mt-3">
      Sur cette application vous pourrez consulter l'ensemble des produits que vous avez référencés
    </div>
    <div class="mt-4">
      <button class="btn btn-violet btn-lg text-light" (click)="goToProduits($event)">
        <fa-icon [icon]="faAngleRight" size="lg" class="me-2"></fa-icon>
        Consulter mes produits
      </button>
    </div>
  </div>
</div>
